## Pratikum 1

In [6]:
## List
fruits = [] #empty List
fruits = ["apple","banana"] #list with 2 elements
another_list = ["This is string", 10] #list with different types
print(fruits)
print (another_list)

['apple', 'banana']
['This is string', 10]

In [9]:
#menggabungkan dengan cara biasa
combined=[fruits,another_list]
print (combined)

[['apple', 'banana'], ['This is string', 10]]

In [10]:
#menggunakan fungsi append
fruits = ["apple","banana"]
fruits.append ("orange")
print (fruits)

['apple', 'banana', 'orange']

In [11]:
fruits= fruits +["manggo"]
print(fruits)

['apple', 'banana', 'orange', 'manggo']

In [12]:
## Tuple
#tuple is similar to  list but immutable once created
#1. list bisa ditambahkan isinya, kalau tuple tidak
#2. List bisa gabungan type datanya: string, numerik, dll, sedangkan tuple tidak
#3. List pakai kurung siku [] sedangkan tuple kurung biasa ()

In [13]:
#contoh tuple

coordinate=(0,5)
colors=("red","green","blue")
print (coordinate)
print (colors)

(0, 5)
('red', 'green', 'blue')

In [14]:
## Data Integration

#menggunakan library
import pandas as pd
import numpy as np

In [15]:
## Merging
# menggabungkan dua data frame dengan 1 kata kunci
left= pd.DataFrame({'key': ['K0','K1','K2','K3'],
                   'A': ['A0','A1','A2','A3'],
                   'B': ['B0','B1','B2','B3']})
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [17]:
right= pd.DataFrame({'key': ['K0','K1','K2','K3'],
                   'C': ['C0','C1','C2','C3'],
                   'D': ['D0','D1','D2','D3']})
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [18]:
result1 =pd.merge(left,right, on='key')
result1

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [19]:
# menggabungkan dua data frame dengan 2 kata kunci
left= pd.DataFrame({'key1': ['K0','K0','K1','K2'],
                    'key2': ['K0','K1','K0','K1'],
                   'A': ['A0','A1','A2','A3'],
                   'B': ['B0','B1','B2','B3']})

right= pd.DataFrame({'key1': ['K0','K1','K1','K2'],
                     'key2': ['K0','K0','K0','K0'],
                   'C': ['C0','C1','C2','C3'],
                   'D': ['D0','D1','D2','D3']})
print(left)
print(right)
result2 =pd.merge(left,right, on=['key1','key2'])
result2

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3
  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [ ]:
#cara menggabungkan data dari dua file yang berbeda

#movie1=pd.read_csv("tempat tersimpan datanya")
#movie2=pd.read_csv("tempat tersimpan datanya")

#harus ada elemen data yang sama, sebagai kata kunci

#movie_complate=pd.merge(movie1, movie2, on='movie_code')
#movie_complate.head()

In [44]:
data1=pd.read_csv("F:/12.csv")
data2=pd.read_csv("F:/13.csv")
data_complate=pd.merge(data1, data2, on='No')
data_complate.head()

   No   Nama  kelas  umur pekerjaan     hobi
0   1  sinta      4     8   pelajar     main
1   2  santi      5     9   pelajar    makan
2   3  cinta      2     9   pelajar  belajar
3   4   cici      5    10   pelajar     baca
4   5  sarah      4     7   pelajar     main

In [20]:
# concatenating

df1=pd.DataFrame ({'A':['A0','A1','A2','A3'],
                  'B':['B0','B1','B2','B3'],
                  'C':['C0','C1','C2','C3'],
                  'D':['D0','D1','D2','D3']})
df2=pd.DataFrame ({'A':['A4','A5','A6','A7'],
                  'B':['B4','B5','B6','B7'],
                  'C':['C4','C5','C6','C7'],
                  'D':['D4','D5','D6','D7']})
df3=pd.DataFrame ({'A':['A8','A9','A10','A11'],
                  'B':['B8','B9','B10','B11'],
                  'C':['C8','C9','C10','C11'],
                  'D':['D8','D9','D10','D11']})
print(df1)
print(df2)
print(df3)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7
     A    B    C    D
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [21]:
frames=[df1,df2,df3]
result=pd.concat(frames)

In [22]:
result

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11